<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-col size="6" *ngFor="let localisation of tabLocalistion; index as position">
    <div class='coord'>
      <span>{{localisation.coords.latitude}}</span>
      <span>{{localisation.coords.longitude}}</span>
      <span>{{localisation.timestamp}}</span>
    </div>
  </ion-col>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
